<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Personal blog">
        <meta name="author" content="Bruno Mentges de Carvalho">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen" charset="utf-8">

    </head>
    <body>

        <div class="container">
          <div class="row">
            <div class="span-4">
                <a href="/"><img src="/images/round_face_bmentges.png" width="120px" height="120px" alt="Bruno Mentges de Carvalho" class="bmentges"></a>
                <div class="info">
                
                <p>
                  Bruno Mentges de Carvalho<br />
                  CTO @ <a href="http://www.agenciatree.com">Agencia Tree
                    Software House</a><br />
                  bruno@agenciatree.com
                </p>
                <p>
                  <a href="http://github.com/bmentges/">Github</a><br/>
                  <a href="http://twitter.com/brunocarvalho/">Twitter</a><br/>
                  <a href="http://br.linkedin.com/in/brunomentgesdecarvalho">Linked.in</a><br/>
                  <a href="/feed.xml">RSS</a>
                </p>
              </div>
            </div>
            <div class="span-5">
                {{ content }}
            </div>
          </div>
        </div> <!-- /container -->

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-513483-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <script type="text/javascript" charset="utf-8" src="/js/bootstrap.min.js"></script>
    </body>
</html>
