<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/pages.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <header id="site-header">
                <a href="/"><img src="/images/round_face_bmentges.png" width="120px" height="120px" alt="Bruno Mentges de Carvalho"></a>
              </header>
            </div>
     
                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Bruno Mentges de Carvalho<br />
                  CTO @ <a href="http://www.agenciatree.com">Agencia Tree
                    Software House</a><br />
                  bmentges@gmail.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/bmentges/">github.com/bmentges</a><br/>
                  <a
                    href="http://twitter.com/brunocarvalho/">twitter.com/brunocarvalho</a><br/>
                  <a href="/feed.xml">RSS</a>
                </p>
              </div>
            </div>

        </div> <!-- /container -->

    </body>
</html>
